body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.red {color: #AA0000;}
.white{color: #FFFFFF;}

.player{
    height:32px;
    width:32px;
}
.content{
	margin-top:100px;
	margin-bottom:100px;
	width:1200px;
}
.pellet{
    width:32px;
    position:absolute;
}
#bart-div img{
	width: 100%;
	margin:10px 2px;
}
#bart-div img.thumb{
	border:5px solid #AAAAAA;
}
#bart-div ul{
	list-style-type:none;
}
#bart-div .box{
	border:10px solid #AAAAAA;
}

#frame{
	border-image:url(/img/game/frame.png) 1 1 stretch;
	-webkit-border-image:url(/img/game/frame.png) 1 1 stretch; /* Safari 5 and older */
	-o-border-image:url(/img/game/frame.png) 1 1 stretch; /* Opera */
	width:870px;
	padding:35px;
	z-index:120;
}
#game{
    z-index: 100;
    width:800px;
    height:480px;
    background-image: url('/img/game/park.png');
    border-radius: 8px;
    position:relative;
    top:0;
    left:0;
}

#game img{
}


#main{
	width:900px;
	display:inline-block;
	vertical-align:top;
}

#sidebar{
	width: 250px;
	display:inline-block;
}

#sidebar div{
	margin-top: 10px;
}

#unity-view{
	position:absolute;
	margin-top:50px;
}
