<div id="content">
<h1>Kui Cheung</h1>

<p><a href="http://www.kuicheung.com">http://kuicheung.com</a> | <a
href="mailto:kuicheung3@gmail.com">kuicheung3@gmail.com</a></p>

<h2>Summary</h2>
<ul>
  <li>Software engineer/programmer with hands-on experience that complements the academic background</li>
  <li>Self-motivated team player with the ability to learn and quickly adapt to new technology in changing environments</li>
  <li>Demonstrated experience in understanding business needs and objectives and translating them into IT opportunities</li>
  <li>Adhere to project plans and keeps intense focus on objectives with an emphasis on results</li>
</ul>

<h2>Skills</h2>
<ul>
  <li>Programming languages: C#, Java, JavaScript, PHP</li>
  <li>Framework: JavaEE, .Net, Node.js</li>
  <li>AI Tools: Encog</li>
  <li>Java Tools: Hibernate, JPA, JSP, JSTL, Servlet, Tomcat</li>
  <li>Javascript Tools: Backbone.js, JQuery, JQM, RequireJS, Underscore.js</li>
  <li>Node.js Tools: Cluster, Ejs, Express, Lo-Dash, Mongoose, PassportJS, Redis, Socket.io</li>
  <li>Mobile Platform: Android, IOS, Windows Phone 8</li>
  <li>Database:  MongoDB, Microsoft SQL, MySQL, Redis</li>
  <li>Cloud Technology:  Amazon EC2, Amazon S3, Heroku</li>
  <li>Virtual Technology:  VM Player, Virtual Box</li>
  <li>IDE: Eclipse, Visual Stuido</li>

</ul>

<h2>Education</h2>
<ul>
  <li><strong>San Jose State University, San Jose, CA</strong><br/>
  B.S. Computer Science, December 2013</li>
</ul>

<h2>Professional Experience</h2>
<ul>
  <li>
    <strong>Golden State Legal Copy, San Francisco</strong>(2011-Present)<br/>
	<strong>Programmer</strong><br/>
	<ul>
	  <li>Using visual C# to create business applications such as XML converter and batch PDF page counter for internal use</li>
	  <li>Design and implemented custom interface to online ECM solution through provided API</li>
	  <li>Redesign company website</li>
	</ul>
    <strong>Project Manager</strong>
	<ul>
	  <li>Manage projects that help clients migrate paper documents to online ECM solution  </li>
	  <ul>
		  <li>KQED legal department</li>
		  <li>Riverbed Technology HR department</li>
		  <li>City of San Francisco Health Department - Over 200,000 documents</li>
	  </ul>
	  <li>Provide customer support through phone and onsite service   </li>
	  <li>Manage online ECM solution which include user account and document security management</li>
	  <li>Work with clients to design coding fields that minimize document retrieval time</li>
	</ul>
  </li><br/>
  <li>
    <strong>Heyuan BBQ Buffet, Shanghai, China</strong>(2006-2010)<br/>
	<strong>Software Engineer</strong><br/>
	<ul>
	  <li>Using visual C# to develop and maintain POS software system for restaurant chain</li>
	  <li>Using Microsoft Server 2003 and Microsoft SQL Server to provide centralized data access for POS consoles throughout restaurant </li>
	  <li>Develop custom report generators at owner's request</li>
	  <li>Provide training session on POS system to employees</li>
	  <li>Set up and maintain systems and network for entire chain</li>
	</ul>
  </li>
</ul>
<h2>Personal Projects</h2>
<ul>
	<p>Bart Tracker (Mobile BART Client)</p>
	<ul>
		<li>HTML5 single-page application that uses BART.gov API to retrieve real-time and schedule information</li>
		<li>Technology used: JQuery, JQuery mobile, HTML5 local storage</li>
		<li>Converted to native mobile application for Android, IOS, and Windows phone 8</li>
	</ul>
</ul>
<h2>Acdemic Projects</h2>
<ul>
  <p><strong>Compiler Design</strong>
    <ul>
	  <li>Using Java to build interpreter and compiler for custom design language based on Pascal</li>
	</ul>
  </p>
  <p><strong>Node.js Game Server</strong>
    <ul>
	  <li>Using Socket.io and Redis to create server cluster that shared same game states</li>
	  <li>Build clients to centralized server using Melon.js, Crafty.js, and Unity3D</li>
	</ul>
  </p>
  <p><strong>Game Design</strong>
    <ul>
	  <li>Using Unity3D to build third person shooter game</li>
	  <li>Using Unity3D to build mobile game for Android and IOS</li>
	</ul>
  </p>
  <p><strong>Web Design</strong>
    <ul>
	  <li>Using PHP as backbone to redesign commercial website for 
	  <a href="http://www.christmasinthepark.com">Christmasinthepark.com</a></li>
	</ul>
  </p>
  <p><strong>Mobile Design</strong>
    <ul>
	  <li>Using JQuery and JQuery mobile to develop a mobile application for Cinequest.org</li>
	  <li>Using PhoneGap to convert HTML5 application to Android and IOS</li>
	</ul>
  </p>
  
</ul>
</div>