<div>
<p><strong>Chatbox Demo with Node.js and Socket.io</strong></p>
<p>Try by opening multiple tabs or windows</p>
<form id="question-form">
<textarea class="form-control" id="answer-textbox" readonly rows="15"><%=text%></textarea>
<input id="answer" type='text' class="form-control" />
<button id="send-btn" class='btn btn-success'>Send</button>
<span id="userCt"><%=userCt%> <span class="glyphicon glyphicon-user"></span> online</span>
<label class="pull-right">Chatbox <%=userId%></label>
</form>
</div>
