<div class='row' >
	<h1>BART Tracker
	<a href="https://play.google.com/store/apps/details?id=com.tinypandasoft.barttracker&hl=en" target="_blank">
		<img class="icon" src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/icon/android_logo.jpg" alt="image of android logo"/>
	</a>
	<a href="https://itunes.apple.com/us/app/bart-tracker/id686222756?ls=1&mt=8" target="_blank">
		<img class="icon" src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/icon/ios_logo.jpg" alt="image of ios logo"/>
	</a>
	<a href="http://www.windowsphone.com/en-us/store/app/bart-tracker/8f0a7270-faae-4cad-b8fe-2cb2fbb68e71" target="_blank">
		<img class="icon" src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/icon/wp8_logo.jpg" alt="image of windows phone 8 logo"/>
	</a>
	</h1>
</div>
<div class='row'>
	<div class="col-xs-5 slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/bart/ios-35-screenshot1.jpg" data-thumb="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/bart/ios-35-screenshot1.jpg" alt="" data-transition="fade" />
            <img src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/bart/ios-35-screenshot2.jpg" data-thumb="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/bart/ios-35-screenshot2.jpg" alt="" data-transition="fade" />
            <img src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/bart/ios-35-screenshot3.jpg" data-thumb="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/bart/ios-35-screenshot3.jpg" alt="" data-transition="fade" />
            <img src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/bart/ios-35-screenshot4.jpg" data-thumb="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/bart/ios-35-screenshot4.jpg" alt="" data-transition="fade" />
        </div>
    </div>
	<div class="col-md-5 panel panel-info" style="padding:0 0">
		<div class="panel-heading" >BART Tracker</div>
		<div class="panel-body">
			<p>
				I originally started this project for my personal use.  Since I am a BART commuter, I wanted an app that can quickly retrieve real-time info without using a lot of bandwidth.  So I decided to use JQuery Mobile for the UI and HTML5 Local Storage for storing favorite routes.  I also compiled all the html, css, and js files into the app to minimize bandwidth usage.  The only time this app connects to the web is for Ajax calls to bart.gov to retrieve information.  
			</p>
			<p>
				When I first started this project I was using Phone Gap for porting the app.  But I noticed the slow startup time that came with using Phone Gap, so I manually ported the app to each platform by using web views.  Using web views turns out to have a huge performance gain.  Startup time went from about 7 seconds to about 2 seconds on a Samsung Galaxy S3 running Android 4.
			</p>
		</div>
	</div>
</div>