<div id="bart-div" class='row' >
	<div>
	<div class='col-xs-9'>
	<img class="box img-rounded" src="/public/img/bart/ios-35-screenshot1.jpg" id="main-img" />
	</div>
	<div class="col-xs-3">
	<ul>
	<li><img class='thumb box img-rounded' src="/public/img/bart/ios-35-screenshot1.jpg"/></li>
	<li><img class='thumb box img-rounded' src="/public/img/bart/ios-35-screenshot2.jpg" /></li>
	<li><img class='thumb box img-rounded' src="/public/img/bart/ios-35-screenshot3.jpg" /></li>
	<li><img class='thumb box img-rounded' src="/public/img/bart/ios-35-screenshot4.jpg" /></li>
	</ul>
	</div>
	</div>
</div>