<div id="siquoia-div" class='row' >
<div class="col-xs-9 slider-wrapper theme-default">
	<div id="slider2" class="nivoSlider">
		<a href="http://siquoia.kuicheung.com" target="_blank">
		<img class="box img-rounded" data-thumb="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/siquoia/screenshot02.jpg"  src="/img/siquoia/screenshot02.jpg" alt="" data-transition="fade"/>
		</a>
		<a href="http://siquoia.kuicheung.com" target="_blank">
		<img class="box img-rounded" data-thumb="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/siquoia/screenshot01.jpg"  src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/siquoia/screenshot01.jpg" alt="" data-transition="fade"/>
		</a>
		<a href="http://siquoia.kuicheung.com" target="_blank">
		<img class="box img-rounded" data-thumb="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/siquoia/screenshot03.jpg"  src="http://kuicheung-home-page.s3-website-us-east-1.amazonaws.com/img/siquoia/screenshot03.jpg" alt="" data-transition="fade"/>
		</a>
	</div>
</div>
<div class="col-xs-9 panel panel-info" style="padding:0 0">
		<div class="panel-heading" >Project Info</div>
		<div class="panel-body">
<pre>
Proxy Server: Nginx
Server: Tomcat
Database: MySQL
ORM: Hibernate
Location: Amazon EC2
Media Storage: Amazon S3
</pre>
		</div>
</div>