<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<script src='http://static.kuicheung.com/public/js/lib/jquery_1_10.js'></script>
	<script data-main="/public/js/main.js" src="http://static.kuicheung.com/public/js/lib/require.js"></script>
  	<meta http-equiv='X-Frame-Options' content='DENY'> 
	<meta http-equiv='Content-Type' content='text/html; charset=ISO-8859-1'> 
	<link rel='stylesheet' href='http://static.kuicheung.com/public/css/bootstrap.min.css'> 
	<link rel='stylesheet' href='http://static.kuicheung.com/public/css/bootstrap-theme.min.css'> 	
	<link rel='stylesheet' type='text/css' href='http://static.kuicheung.com/public/css/themes/smoothness/jquery-ui.css' /> 
	<link rel='stylesheet' type='text/css' href='http://static.kuicheung.com/public/css/datatable.css' /> 
	<link rel='stylesheet' type='text/css' href='http://static.kuicheung.com/public/css/style.css' />
  </head>
  <body>  	
  	
  		<div id="iqtest" class="">
		  	<header>
		  	</header>
		  	<div class="content container">
		  	<div id="main"> 	
		  	</div>
		  	<div id="sidebar">
		  		
		 	</div>
		 	</div>
            <footer>
			</footer>
		</div>
        
  </body>
</html>